<html>
<head>
  <meta charset="UTF-8">
  <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
      name="viewport">
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>
  <title>알림</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="icon" href="/images/logo.png">
</head>
<header class="header-container">
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <div class="brand-container">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="logo" width="60" height="60">
        </a>
      </div>
      <div class="action-container">
        <a class="navbar-brand" href="/notification">
          <img src="/images/bell.png" alt="notification" width="30" height="30">
        </a>
        <button class="btn my-page-btn btn-success" id="my-page-btn" onclick="moveMyPage()">마이페이지
        </button>
      </div>
    </div>
  </nav>
</header>
<body>
<div style="padding:10px;width:1000px; height:max-content; margin:auto">
  <div id="notifications" style="width:1000px; height:min-content;"></div>
</div>

<script th:inline="javascript">

  $(document).ready(function () {
    getData();
  });

  function getData() {

    $.ajax({
      type: 'GET',
      url: `/api/v1/notifications`,
      dataType: "json",
      contentType: 'application/json',
      data: {},
      success: function (response) {
        console.log('Success:', response);
        if (response.status !== 200) {
          alert(response.message);
        }
        drawNotifications(response.data);

      },
      error: function (res, xhr, error) {
        console.log(res.status + " - " + res.message);
        errorHandler(res, xhr, error);
        console.error('Error:', error);
      }
    });
  }

  function drawNotifications(data) {
    if(data.length === 0) {
      $('#notifications').append(
          `
  <div class = notification>
    <span class= content>알림이 존재하지 않습니다!⏰</span>
  </div>
  `
      )
    } else {
      data.forEach((notification) =>
          $('#notifications').append(
              `
  <div class = notification>
    <span class= content>${notification.fieldContent}</span>
    <span>${notification.createdAt}</span>
  </div>
  `
          )
      )
    }

  }

</script>
<style>
  .notification {
    background-color: #e9e9e9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: max-content;
  }

  .content {
    margin-right: 30px;
  }
</style>
<script src="/js/basic.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>