<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
      name="viewport">
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        rel="stylesheet">
  <link href="./css/sticky-footer-navbar.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <title>요청 조회 페이지</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="/css/navbar.css">
</head>
<header class="header-container">
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <div class="brand-container">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="logo" width="60" height="60">
        </a>
      </div>
      <div class="action-container">
        <a class="navbar-brand" href="/notification">
          <img src="/images/bell.png" alt="notification" width="30" height="30">
        </a>
        <button class="btn my-page-btn btn-success" id="my-page-btn" onclick="moveMyPage()">마이페이지
        </button>
      </div>
    </div>
  </nav>
</header>
<style>
  #offer-pack {
    margin: 60px 120px 60px 120px;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }

  #offer-pack h1 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .offer {
    margin: 5px 50px 20px 50px;
    border: solid 1px black;
    padding: 20px;
    border-radius: 7px;
  }

  .menu-pack {
    margin: 20px 0;
  }

  .menu-pack p {
    font-weight: bold;
    margin-bottom: 0;
  }
</style>
</head>
<body>
<div id="offer-pack">
  <h1>요청 조회</h1>
  <div id="post"></div>
  <div id="offers"></div>
</div>
<script>

  const host = 'http://' + window.location.host;

  $(document).ready(function () {
    getOffer();
  });

  function getOffer() {
    let postId = [[${postId}]];
    $.ajax({
      type: "GET",
      url: `/api/v1/offers/[[${postId}]]`,
      dataType: "json",
      contentType: 'application/json',
      data: {},
      success: function (response) {
        drawBackToPost(postId);
        if (response.data.role === "HOST") {
          drawHostOffers(response.data.offerResponses,postId);
        } else if (response.data.role !== "PARTICIPANT") {
          drawAnyoneOffers(response.data.offerResponses,postId);
        }
      },
      error: function (error) {
        console.error('Error:', error);
      }
    });
  }

  function drawHostOffers(data,postId) {
    data.forEach((offer, index) =>
        $('#offers').append(
            `
                <div id="${index}">
    <button class="btn btn-outline-secondary" userId=${offer.userId} onclick="otherspage(this)"
            type="button">${offer.nickname}
    </button>
    <button class="btn btn-outline-secondary" postId = ${postId} offerId = ${offer.offerId} onclick="approve(this)"
            type="button">수락
    </button>
    <button class="btn btn-outline-secondary" postId = ${postId} offerId=${offer.offerId} onclick="reject(this)"
            type="button">거절
    </button>
  </div>
              `
        )
    )
    data.forEach((offer, index) =>
        offer.menus.forEach(
            (menu) =>
                $(`#${index}`).append(
                    `<div>${menu.menuname}</div>
                     <div>${menu.price}</div>`
                )
        )
    )
  }

  function drawAnyoneOffers(data,postId) {
    data.forEach((offer, index) =>
        $('#offers').append(
            `
                <div id="${index}">
    <span>${offer.nickname}</span>
    <button class="btn btn-outline-secondary" postId = ${postId} offerId=${offer.offerId}  onclick="cancelParticipation(this)"
            type="button">참가 취소
    </button>
  </div>
              `
        )
    )

  }

  function approve(button) {
    var offerId = $(button).attr("offerId");
    var postId = $(button).attr("postId");
    $.ajax({
      type: "POST",
      url: `/api/v1/offers/approve`,
      dataType: "json",
      contentType: 'application/json',
      data: JSON.stringify({
        offerId: offerId
      }),
      success: function (response) {
        alert(response.message);
        redirect(postId);
      },
      error: function (error, response) {
        alert(response.message);
        console.error('Error:', error);
      }
    });
  }

  function reject(button) {
    var offerId = $(button).attr("offerId");
    var postId = $(button).attr("postId");
    $.ajax({
      type: "POST",
      url: `/api/v1/offers/reject`,
      dataType: "json",
      contentType: 'application/json',
      data: JSON.stringify({
        offerId: offerId
      }),
      success: function (response) {
        alert(response.message);
        redirect(postId);
      },
      error: function (error, response) {
        alert(response.message);
        console.error('Error:', error);
      }
    });
  }

  function cancelParticipation(button) {
    var offerId = $(button).attr("offerId");
    var postId = $(button).attr("postId");
    $.ajax({
      type: "DELETE",
      url: `/api/v1/offers`,
      dataType: "json",
      contentType: 'application/json',
      data: JSON.stringify({
        offerId: offerId
      }),
      success: function (response) {
        alert(response.message);
        redirect(postId);
      },
      error: function (error, response) {
        alert(response.message);
        console.error('Error:', error);
      }
    });
  }

  function otherspage(button) {
    var userId = +$(button).attr("userId");
    window.location.href = host + `/user/${userId}`;
  }

  function drawBackToPost(idForPost) {
    $('#post').append(
        `
  <div>
    <button class="btn btn-outline-secondary" post=${idForPost} onclick="postPage(this)"
            type="button">글로 돌아가기
    </button>
  </div>
  `
    )
  }

  function postPage(button) {
    var postId = $(button).attr("post");
    window.location.replace(host + `/post/${postId}`);
  }

  function redirect(postId){
    setTimeout(function(){
      window.location.href = host + `/post/${postId}/offer`;
    }, 500);
  }

</script>
<script src="/js/basic.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>