.header-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-container {
  flex: 1;
}

.action-container {
  display: flex;
  align-items: center;
}