<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>아아니 이게 안될지 몰랐지</title>

    <!-- style -->
    <style type="text/css">
      * {
        font-family: 'Stylish', sans-serif;
      }

      .wrap {
        width: 900px;
        margin: auto;
      }

      .comment {
        color: blue;
        font-weight: bold;
      }

      #post-box {
        width: 500px;
        margin: 20px auto;
        padding: 50px;
        border: black solid;
        border-radius: 5px;
      }
    </style>
    <script>
      function save() {
        alert("파일이 업로드 되었습니다!!");
      }
    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">그놈은 배달비를 던져븐 거시고,</h1>
        <p class="lead">니놈들은 그걸 확 나눠븐 거시여.</p>
        <p class="lead">근디 왜 안되는 것이여?</p>
        <p class="lead">근디 왜 안되는 것이여?2</p>
        <p class="lead">될 때도 됬지?</p>
        <p class="lead">그렇지 되야지.</p>
        <h1 class="display-4">보셨죠 여러분?</h1>
        <hr class="my-4">
    </div>
</div>
</body>

</html>