<html>
<body>
<div style="padding:10px;width:1000px; height:min-content; margin:auto">
    <div style="margin:auto">카테고리 선택
        <div aria-label="Basic radio toggle button group" class="btn-group" role="group">
            <input autocomplete="off" category="ALL" checked class="btn-check" id="all"
                   name="btnradio"
                   onclick="getByCategory(this)"
                   type="radio">
            <label class="btn btn-outline-secondary" for="all">전체</label>
            <input autocomplete="off" category="BURGER" class="btn-check" id="burger"
                   name="btnradio"
                   onclick="getByCategory(this)"
                   type="radio">
            <label class="btn btn-outline-secondary" for="burger">버거</label>
            <input autocomplete="off" category="CHICKEN" class="btn-check" id="chicken"
                   name="btnradio"
                   onclick="getByCategory(this)"
                   type="radio">
            <label class="btn btn-outline-secondary" for="chicken">치킨</label>
            <input autocomplete="off" category="KOREAN" class="btn-check" id="korean"
                   name="btnradio"
                   onclick="getByCategory(this)"
                   type="radio">
            <label class="btn btn-outline-secondary" for="korean">한식</label>
            <input autocomplete="off" category="WESTERN" class="btn-check" id="western"
                   name="btnradio"
                   onclick="getByCategory(this)"
                   type="radio">
            <label class="btn btn-outline-secondary" for="western">양식</label>
            <input autocomplete="off" category="ASIAN" class="btn-check" id="asian" name="btnradio"
                   onclick="getByCategory(this)"
                   type="radio">
            <label class="btn btn-outline-secondary" for="asian">아시안</label>
            <input autocomplete="off" category="SNACK" class="btn-check" id="snack" name="btnradio"
                   onclick="getByCategory(this)"
                   type="radio">
            <label class="btn btn-outline-secondary" for="snack">분식</label>
            <input autocomplete="off" category="JAPANESE" class="btn-check" id="japanese"
                   name="btnradio"
                   onclick="getByCategory(this)"
                   type="radio">
            <label class="btn btn-outline-secondary" for="japanese">일식</label>
            <input autocomplete="off" category="CHINESE" class="btn-check" id="chinese"
                   name="btnradio"
                   onclick="getByCategory(this)"
                   type="radio">
            <label class="btn btn-outline-secondary" for="chinese">중식</label>
            <input autocomplete="off" category="LUNCHBOX" class="btn-check" id="lunchbox"
                   name="btnradio"
                   onclick="getByCategory(this)"
                   type="radio">
            <label class="btn btn-outline-secondary" for="lunchbox">도시락</label>
        </div>
        <div class="input-group mb-3">
            <input aria-describedby="button-addon2" aria-label="keyword" class="form-control"
                   id="keyword"
                   placeholder="검색어"
                   type="text">
            <button class="btn btn-outline-secondary" id="search" onclick="search()" type="button">
                검색
            </button>
        </div>
    </div>
    <div id="posts" style="width:1000px; height:min-content; margin:auto"></div>
    <div id="pages" style="width:1000px; height:min-content; margin:auto">
    </div>
</div>
</body>
</html>