<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="/domain/header :: header"></div>
</head>
<body>
<div id="login-form">
  <div>
    <div>이메일</div>
    <input type="email" name="email" id="email" class="login-input">

    <div>비밀번호</div>
    <input type="password" name="password" id="password" class="login-input">

    <button id="login-submit" onclick="login()">로그인</button>
  </div>

</div>
</body>

<script th:inline="javascript">
  $(document).ready(function () {
    // 토큰 삭제
    Cookies.remove('Authorization', {path: '/'});

    $('header').load("domain/navbar.html");
    console.log("aaaaaa");
  });

  const host = 'http://' + window.location.host;

  function login() {
    let email = $('#email').val();
    let password = $('#password').val();

    $.ajax({
      type: "POST",
      url: `/api/v1/users/login`,
      contentType: "application/json",
      data: JSON.stringify({
        email: email,
        password: password
      }),
    })
    .done(function (res, status, xhr) {
      // const token = xhr.getResponseHeader('Authorization');
      // console.log(token);
      let token = Cookies.get('Authorization');

      if (res.status === 200) {
        Cookies.set('Authorization', token, {path: '/'})
        console.log(token + "1");
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
          console.log(token + "2");
          jqXHR.setRequestHeader('Authorization', token);
        });

        //alert(res.message);
        window.location.replace(host + '/mypage');

      } else if (res.status === 400 || res.status === 404) {
        alert(res.message);
        window.location.href = host + '/login?error'
      } else {
        alert("알 수 없는 오류가 발생했습니다.");
        window.location.href = host + '/login?error'
      }
    })
    .fail(function (jqXHR, textStatus) {
      alert("요청에 실패하였습니다.");
      window.location.href = host + '/login?error'
    });
  }

  $('#my-page-btn').click(function () {
    location.href = '/mypage'
  })
</script>
</html>
