<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="/global/header :: header"></div>
</head>
<header>
  <div th:replace="/global/navbar :: navbar"></div>
</header>
<body>
<div>
  <div id="my-info-pack">
    <div id="nickname"></div>
    <div id="email"></div>
    <button type="button" class="btn btn-secondary" id="nickname-update-submit"
            onclick="updateNickname()">
      닉네임 수정
    </button>
    <button type="button" class="btn btn-secondary" id="pw-update-submit" onclick="updatePw()">
      비밀번호 수정
    </button>
  </div>

  <div id="my-review-pack">
    <div id="my-score">
      평점
      <div id="score">

      </div>
    </div>
    <div id="my-review">
      받은 리뷰

    </div>
  </div>

  <div id="my-order-info">
    과거 주문정보

  </div>
</div>

<script src="/js/basic.js"></script>
</body>
</html>