<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/global/header :: header"></div>
  <style>
  </style>
</head>
<header>
  <div th:replace="/global/navbar :: navbar"></div>
</header>
<body>
<div id="update-info-pack">
  <div>
    <div>닉네임</div>
    <input type="text" name="nickname" id="nickname" class="info-input">

    <div>비밀번호</div>
    <input type="password" name="password" id="password" class="info-input">

    <button id="info-submit" onclick="updateNickname()">변경하기</button>
  </div>
</div>
<script th:inline="javascript">
  function updateNickname() {
    let nickname = $('#nickname').val();
    let password = $('#password').val();

    $.ajax({
      type: "PATCH",
      url: `/api/v1/users`,
      contentType: "application/json",
      data: JSON.stringify({
        nickname: nickname,
        password: password
      }),
    })
    .done(function (res, status, xhr) {
      if (res.status === 200) {
        alert(res.message);
        window.location.href = "/mypage";
      } else if (res.status === 400) {
        alert(res.message);
      } else if (res.status === 401 || res.status === 404) {
        alert(res.message);
        window.location.href = host + '/login?error'
      } else {
        alert("알 수 없는 오류가 발생했습니다.");
        window.location.href = host + '/login?error'
      }
    })
    .fail(function (xhr, status, error) {
      console.log(error);
    });
  }
</script>
<script src="/js/basic.js"></script>
</body>
</html>