<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/global/header :: header"></div>
  <style>
  </style>
</head>
<header>
  <div th:replace="/global/navbar :: navbar"></div>
</header>
<body>
<div id="update-password-form">
  <div>
    <h1>비밀번호 변경</h1><br>
    <div class="form-floating mb-3">
      <input type="password" name="new-password" class="form-control pw-input"
             id="new-password" placeholder="비밀번호">
      <label for="new-password">비밀번호</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" name="password-check" class="form-control pw-input"
             id="password-check" placeholder="비밀번호 확인">
      <label for="password-check">비밀번호 확인</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" name="password" class="form-control pw-input"
             id="password" placeholder="현재 비밀번호">
      <label for="password">현재 비밀번호</label>
    </div>

    <div class="btn-pack">
      <button type="button" class="btn btn-secondary"
              id="info-submit" onclick="updatePassword()">변경하기
      </button>
    </div>
  </div>
</div>
<script th:inline="javascript">
</script>
<script src="/js/basic.js"></script>
</body>
</html>