<html>
<head>
    <meta charset="UTF-8">
    <meta
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
        name="viewport">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <title>글 상세페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=sa2ld1fdvv"
            type="text/javascript"></script>
    <link href="/css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link href="/css/readpost.css" rel="stylesheet">
    <link rel="icon" href="/images/logo.png">
    <script th:src="@{/js/sse.js}"></script>
</head>
<header class="header-container">
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <div class="brand-container">
                <a class="navbar-brand" href="/">
                    <img alt="logo" height="60" src="/images/logo.png" width="60">
                </a>
            </div>
            <div class="action-container">
                <a class="navbar-brand" href="/notification">
                    <img alt="notification" height="30" src="/images/bell.png" width="30">
                </a>
                <button class="btn my-page-btn btn-success" id="my-page-btn" onclick="moveMyPage()">
                    마이페이지
                </button>
            </div>
        </div>
    </nav>
</header>
<body>
<div id="detail-post">
    <div id="detail-post-pack">
        <div id="field" style="height:min-content;"></div>
        <div style="font-weight: bold">모인 메뉴</div>
        <div id="menus" style="height:min-content;"></div>
        <div id="buttons" style="padding:10px;width:1000px;height:min-content;">
        </div>
        <div class="map-pack">
            <div class="address" style="font-weight: bold">음식 픽업 장소</div>
            <div id="map" style="width:100%; height:400px;"></div>
        </div>
    </div>

</div>
<script>
  var userId = [[${userId}]];
  const host = 'http://' + window.location.host;

  $(document).ready(function () {
    getData();

    if (userId !== undefined && userId !== null && userId !== '') {
      connectSse();
    }
  });

  function getData() {

    $.ajax({
      type: 'GET',
      url: `/api/v1/posts/[[${postId}]]`,
      dataType: "json",
      contentType: 'application/json',
      data: {},
      success: function (response) {
        latitude = response.data.latitude;
        longitude = response.data.longitude

        deadline = response.data.deadline;
        deliveryCost = response.data.deliveryCost;
        minPrice = response.data.minPrice;
        store = response.data.store;
        sumPrice = response.data.sumPrice;
        nickmenus = response.data.menus;
        hostNick = response.data.hostNick;
        hostId = response.data.hostId;
        postStatus = response.data.status;

        drawMap(latitude, longitude);

        drawField(store, sumPrice, minPrice, deliveryCost, deadline, hostNick, hostId, postStatus);

        drawMenus(nickmenus);

        if (response.data.role === "HOST") {
          drawHostButtons(response.data.id, postStatus);
        } else if (response.data.role === "PARTICIPANT") {
          drawParticipantButtons(response.data.id, postStatus);
        } else {
          drawAnyoneButtons(response.data.id, postStatus);
        }
      },
      error: function (error) {
        console.error('Error:', error);
      }
    });
  }

  function getHostPage(button) {
    var hostId = +$(button).attr("hostId");
    const host = 'http://' + window.location.host;
    window.location.href = host + `/user/${hostId}`;
  }

  function drawMap(lat, lng) {
    var map = new naver.maps.Map('map', {
      center: new naver.maps.LatLng(lat, lng),
      zoom: 15
    });

    var marker = new naver.maps.Marker({
      position: new naver.maps.LatLng(lat, lng),
      map: map
    });
  }

  function drawField(store, sumPrice, minPrice, deliveryCost, deadline, hostNick, hostId,
      postStatus) {
    var temp;

    if (postStatus === "OPEN") {
      temp = `
<div>
  <div hostId = ${hostId} onclick="getHostPage(this)">
    <img src="/images/user.png" alt="mypage" id="my-page-btn" width="30" height="30">
    <a style="font-weight: bold" class="btn">${hostNick}</a>
  </div>
  <div><span style="font-weight: bold">${store}</span>에 주문하기 위해서</div>
  <div><span style="font-weight: bold">${minPrice}</span> 원 필요해요!</div>
  <div><span style="font-weight: bold">${sumPrice}</span> 원 모였어요!</div>
  <div>필요한 배달비는<span style="font-weight: bold"> ${deliveryCost} </span>원 입니다!</div>
  <div><span style="font-weight: bold">${deadline}</span> 후 까지 모집해요!</div>
 </div>
`
    } else {
      temp = `
<div>
  <div hostId = ${hostId} onclick="getHostPage(this)">
    <img src="/images/user.png" alt="mypage" id="my-page-btn" width="30" height="30">
    <a style="font-weight: bold" class="btn">${hostNick}</a>
  </div>
  <div><span style="font-weight: bold">${store}</span>에 주문하기 위해서</div>
  <div><span style="font-weight: bold">${minPrice}</span> 원 필요해요!</div>
  <div><span style="font-weight: bold">${sumPrice}</span> 원 모였어요!</div>
  <div>필요한 배달비는<span style="font-weight: bold"> ${deliveryCost} </span>원 입니다!</div>
  <div><span style="font-weight: bold">${postStatus}   </span>${getStatus(
          postStatus)}</div>
 </div>
`
    }

    $('#field').append(temp)
  }

  function drawMenus(nickmenus) {
    nickmenus.forEach((nickmenu, index) =>
        $('#menus').append(
            `
  <div id = ${index}><span style="font-weight: bold">${nickmenu.nickname}<span></span></div>
            `
        )
    )
    nickmenus.forEach((nickmenu, index) =>
        nickmenu.menus.forEach(
            (menu) =>
                $(`#${index}`).append(
                    `<div>${menu.menuname} (${menu.price} 원)</div>`
                )
        )
    )
  }

  function drawHostButtons(postId, status) {

    if (status === "OPEN") {
      $('#buttons').append(
          `
     <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" post = "${postId}" onclick="getOffers(this)" name="btnradio" id="getOffers" autocomplete="off" checked>
      <label class="btn btn-outline-secondary" for="getOffers">들어온 참가 신청 조회</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="editmenus(this)" name="btnradio" id="editmenus" autocomplete="off">
      <label class="btn btn-outline-secondary" for="editmenus">메뉴 담기</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="closeApplication(this)" name="btnradio"  id="closeApplication" autocomplete="off">
      <label class="btn btn-outline-secondary" for="closeApplication">모집 마감</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="cancelRecruitment(this)" name="btnradio" id="cancelRecruitment" autocomplete="off">
      <label class="btn btn-outline-secondary" for="cancelRecruitment">모집 취소</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="chatRoom(this)" name="btnradio" id="chatRoom" autocomplete="off">
      <label class="btn btn-outline-secondary" for="chatRoom">채팅방</label>
    </div>
            `
      )
    } else if (status === "CLOSED") {
      $('#buttons').append(
          `
     <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" post = "${postId}" onclick="editmenus(this)" name="btnradio" id="editmenus" autocomplete="off">
      <label class="btn btn-outline-secondary" for="editmenus">메뉴 수정</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="cancelRecruitment(this)" name="btnradio" id="cancelRecruitment" autocomplete="off">
      <label class="btn btn-outline-secondary" for="cancelRecruitment">모집 취소</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="completeOrder(this)" name="btnradio" id="completeOrder" autocomplete="off">
      <label class="btn btn-outline-secondary" for="completeOrder">주문 완료</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="chatRoom(this)" name="btnradio" id="chatRoom" autocomplete="off">
      <label class="btn btn-outline-secondary" for="chatRoom">채팅방</label>
    </div>
            `
      )
    } else if (status === "ORDERED" || status === "RECEIVED") {
      $('#buttons').append(
          `
     <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" post = "${postId}" onclick="chatRoom(this)" name="btnradio" id="chatRoom" autocomplete="off">
      <label class="btn btn-outline-secondary" for="chatRoom">채팅방</label>
    </div>
            `
      )
    }
  }

  function drawParticipantButtons(postId, status) {
    if (status === "OPEN") {
      $('#buttons').append(
          `
     <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" post = "${postId}" onclick="editmenus(this)" name="btnradio" id="editmenus" autocomplete="off">
      <label class="btn btn-outline-secondary" for="editmenus">메뉴 수정</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="exit(this)" name="btnradio"  id="exit" autocomplete="off">
      <label class="btn btn-outline-secondary" for="exit">나가기</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="chatRoom(this)" name="btnradio" id="chatRoom" autocomplete="off">
      <label class="btn btn-outline-secondary" for="chatRoom">채팅방</label>
    </div>
            `
      )
    } else if (status === "CLOSED") {
      $('#buttons').append(
          `
     <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" post = "${postId}" onclick="editmenus(this)" name="btnradio" id="editmenus" autocomplete="off">
      <label class="btn btn-outline-secondary" for="editmenus">메뉴 수정</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="exit(this)" name="btnradio"  id="exit" autocomplete="off">
      <label class="btn btn-outline-secondary" for="exit">나가기</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="chatRoom(this)" name="btnradio" id="chatRoom" autocomplete="off">
      <label class="btn btn-outline-secondary" for="chatRoom">채팅방</label>
    </div>
            `
      )
    } else if (status === "ORDERED") {
      $('#buttons').append(
          `
     <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" post = "${postId}" onclick="receiveOrder(this)" name="btnradio" id="receiveOrder" autocomplete="off">
      <label class="btn btn-outline-secondary" for="receiveOrder">수령 완료</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="chatRoom(this)" name="btnradio" id="chatRoom" autocomplete="off">
      <label class="btn btn-outline-secondary" for="chatRoom">채팅방</label>
    </div>
            `
      )

    } else if (status === "RECEIVED") {
      $('#buttons').append(
          `
     <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" post = "${postId}" onclick="chatRoom(this)" name="btnradio" id="chatRoom" autocomplete="off">
      <label class="btn btn-outline-secondary" for="chatRoom">채팅방</label>
    </div>
            `
      )
    }

  }

  function drawAnyoneButtons(postId, status) {
    if (status === "OPEN") {
      $('#buttons').append(
          `
     <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" post = "${postId}" onclick="editmenus(this)" name="btnradio" id="editmenus" autocomplete="off">
      <label class="btn btn-outline-secondary" for="editmenus">메뉴 담기</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="applyApplication(this)" name="btnradio"  id="applyApplication" autocomplete="off">
      <label class="btn btn-outline-secondary" for="applyApplication">참가 신청</label>
      <input type="radio" class="btn-check" post = "${postId}" onclick="getOffers(this)" name="btnradio" id="getOffers" autocomplete="off" checked>
      <label class="btn btn-outline-secondary" for="getOffers">참가 신청 취소</label>
    </div>
            `
      )
    }
  }

  function getOffers(button) {
    var postId = $(button).attr("post");
    const host = 'http://' + window.location.host;
    window.location.href = host + `/post/${postId}/offer`;

  }

  function editmenus(button) {
    var postId = $(button).attr("post");
    const host = 'http://' + window.location.host;
    window.location.replace(host + `/menu/${postId}`);
  }

  function closeApplication(button) {
    var postId = $(button).attr("post");
    $.ajax({
      type: 'PATCH',
      url: "/api/v1/posts/close",
      dataType: "json",
      contentType: 'application/json',
      data: JSON.stringify({
        postId: postId
      }),
      success: function (response) {
        alert(response.message);
        redirect(postId);
      },
      error: function (error, response) {
        alert(response.message);
        console.error('Error:', error);
      }
    });
  }

  function cancelRecruitment(button) {
    var postId = $(button).attr("post");
    $.ajax({
      type: 'DELETE',
      url: "/api/v1/posts",
      dataType: "json",
      contentType: 'application/json',
      data: JSON.stringify({
        postId: postId
      }),
      success: function (response) {
        alert(response.message);
        redirect(postId);
      },
      error: function (error, response) {
        alert(response.message);
        console.error('Error:', error);
      }
    });
  }

  function completeOrder(button) {
    var postId = $(button).attr("post");
    $.ajax({
      type: 'PATCH',
      url: "/api/v1/posts/complete-order",
      dataType: "json",
      contentType: 'application/json',
      data: JSON.stringify({
        postId: postId
      }),
      success: function (response) {
        alert(response.message);
        redirect(postId);
      },
      error: function (error, response) {
        alert(response.message);
        console.error('Error:', error);
      }
    });
  }

  function chatRoom(button) {
      var postId = $(button).attr("post");
      $.get(`/chats/exists/${postId}`, function(exists) {
          if (exists) {
              window.location.href = `/chat/${postId}`;
          } else {
              alert("채팅방이 존재하지 않습니다.");
              window.location.href = `/post/${postId}`;
          }
      });
  }

  function exit(button) {
    var postId = $(button).attr("post");
    $.ajax({
      type: 'DELETE',
      url: "/api/v1/posts/exit",
      dataType: "json",
      contentType: 'application/json',
      data: JSON.stringify({
        postId: postId
      }),
      success: function (response) {
        alert(response.message);
        redirect(postId);
      },
      error: function (error, response) {
        alert(response.message);
        console.error('Error:', error);
      }
    });
  }

  function receiveOrder(button) {
    var postId = $(button).attr("post");
    $.ajax({
      type: 'DELETE',
      url: "/api/v1/posts/received",
      dataType: "json",
      contentType: 'application/json',
      data: JSON.stringify({
        postId: postId
      }),
      success: function (response) {
        alert(response.message);
        redirect(postId);
      },
      error: function (error, response) {
        alert(response.message);
        console.error('Error:', error);
      }
    });
  }

  function applyApplication(button) {
    var postId = $(button).attr("post");
    $.ajax({
      type: 'POST',
      url: "/api/v1/offers",
      dataType: "json",
      contentType: 'application/json',
      data: JSON.stringify({
        postId: postId
      }),
      success: function (response) {
        alert(response.message);
        redirect(postId);
      },
      error: function (error, response) {
        alert(response.message);
        console.error('Error:', error);
      }
    });
  }

  function getStatus(status) {
    if (status === "OPEN") {
      return "모집이 열려있습니다!"
    } else if (status === "CLOSED") {
      return "모집이 마감되었습니다!"
    } else if (status === "ORDERED") {
      return "주문 완료"
    } else if (status === "RECEIVED") {
      return "주문이 모두 수령된 게시글입니다!"
    }
  }

  function redirect(postId) {
    setTimeout(function () {
      window.location.href = host + `/post/${postId}`;
    }, 1000);
  }

</script>
<script src="/js/basic.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>