name: deploy

on:
  pull_request: # 배포 확인용 임시 pull_request # 원래 push
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      #      - name: .env setting
      #        run: |
      #          echo "export DB_URL=${{ secrets.DB_URL }}" >> .env
      #          echo "export USER_NAME=${{ secrets.USER_NAME }}" >> .env
      #          echo "export PASSWORD=${{ secrets.PASSWORD }}" >> .env
      #          echo "export JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}" >> .env

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Build with Gradle
        # test code는 빌드하지 않음
        run: ./gradlew assemble # test code까지 빌드 # fix : 해당 사항 test 완성 후 변경 # run: ./gradlew build
        shell: bash

      #      - name: Build with Gradle
      #        run: ./gradlew build
      #        shell: bash

      - name: Make zip file
        run: zip -qq -r ./$GITHUB_SHA.zip .
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ACCESS_KEY_SECRET }}
          aws-region: ap-northeast-2

      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 ./$GITHUB_SHA.zip s3://moayoeats/$GITHUB_SHA.zip

      - name: Code Deploy
        run: aws deploy create-deployment --application-name moayoeats --deployment-config-name CodeDeployDefault.OneAtATime --deployment-group-name dev --s3-location bucket=moayoeats,bundleType=zip,key=$GITHUB_SHA.zip